<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
!mamba install pandas==1.3.3 -y
!mamba install requests==2.26.0 -y

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['pandas==1.3.3']

[+] 0.0s
[+] 0.1s
pkgs/main/linux-64 ━━━╸━━━━━━━━━━━━━━━╸━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/main/noarch   ━━━━━━━━━━━━━━━╸━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/linux-64    ━━━━━━━━╸━━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/noarch      ━━━━━━━━━━━━╸━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s[+] 0.2s
pkgs/main/linux-64 ━━━━━━╸━━━━━━━━━━━━━━━╸━━  16.4kB /  ??.?MB @ 105.8kB/s  0.2s
pkgs/main/noarch   ━━╸━━━━━━━━━━━━━━━╸━━━━━━  57.4kB /  ??.?MB @ 364.8kB/s  0.2s
pkgs/r/linux-64    ━━━━━━━━━━╸━━━━━━━━━━━━━━  28.7kB /  ??.?MB @ 181.8kB/s  0.2s
pkgs/r/noarch      ━━━━━━━━━━━━━━━╸━━━━━━━━━  41.0kB /  ??.?MB @ 262.7kB/s  0.2s[+] 0.3s
pkgs/main/linux-64 ━━━━━━━━╸━━━━━━━━━━━━━━━━ 491.5kB /  ??.?MB @   1.9MB/s  0.3s
pkgs/main/noarch   ━━━━╸━━━━━━━━━━━━━━━╸━━━━ 569.4kB /  ??.?MB @   2.2MB/s  0.3s
pkgs/r/linux-64    ━━━━━━━━━━━━━╸━━━━━━━━━━━ 520.2kB /  ??.?MB @   2.0MB/s  0.3s
pkgs/r/noarch      ━━━━━━━━━╸━━━━━━━━━━━━━━━ 577.5kB /  ??.?MB @   2.2MB/s  0.3spkgs/main/noarch                                   852.6kB @   2.7MB/s  0.3s
[+] 0.4s
pkgs/main/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━━   1.0MB @   2.9MB/s             0.4s
pkgs/r/linux-64    ━━━━━━━━━━━━━━━╸━━━━━━━━   1.0MB @   2.8MB/s             0.4s
pkgs/r/noarch      ━━━━━━━━━━━━━━━━━━━━━━━━   1.3MB @   3.3MB/s Finalizing  0.4spkgs/r/noarch                                      @   3.3MB/s  0.4s
pkgs/r/linux-64                                    @   3.2MB/s  0.5s
[+] 0.5s
pkgs/main/linux-64 ━━━━━━━━━━━━━╸━━━━━━━━━━━   1.8MB /  ??.?MB @   3.6MB/s  0.5s[+] 0.6s
pkgs/main/linux-64 ━━━━━━━╸━━━━━━━━━━━━━━━━━   2.3MB /  ??.?MB @   3.9MB/s  0.6s[+] 0.7s
pkgs/main/linux-64 ━━━━━━━━━━╸━━━━━━━━━━━━━━   2.9MB /  ??.?MB @   4.1MB/s  0.7s[+] 0.8s
pkgs/main/linux-64 ━━━━━━━━━━━╸━━━━━━━━━━━━━   3.2MB /  ??.?MB @   4.2MB/s  0.8s[+] 0.9s
pkgs/main/linux-64 ━━━━━━━━━━━━━╸━━━━━━━━━━━   3.7MB /  ??.?MB @   4.3MB/s  0.9s[+] 1.0s
pkgs/main/linux-64 ╸━━━━━━━━━━━━━━━╸━━━━━━━━   4.2MB /  ??.?MB @   4.4MB/s  1.0s[+] 1.1s
pkgs/main/linux-64 ━━╸━━━━━━━━━━━━━━━╸━━━━━━   4.8MB /  ??.?MB @   4.5MB/s  1.1s[+] 1.2s
pkgs/main/linux-64 ━━━━╸━━━━━━━━━━━━━━━╸━━━━   5.3MB /  ??.?MB @   4.6MB/s  1.2s[+] 1.3s
pkgs/main/linux-64 ━━━━━━━╸━━━━━━━━━━━━━━━╸━   5.9MB /  ??.?MB @   4.7MB/s  1.3s[+] 1.4s
pkgs/main/linux-64 ━━━━━━━━━━━━━━━━━━━━━━━━   6.1MB @   4.7MB/s Finalizing  1.4s[+] 1.5s
pkgs/main/linux-64 ━━━━━━━━━━━━━━━━━━━━━━━━   6.1MB @   4.7MB/s Finalizing  1.5spkgs/main/linux-64                                 @   4.7MB/s  1.6s

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - pandas==1.3.3
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build           Channel                 Size
───────────────────────────────────────────────────────────────────────────────
  Upgrade:
───────────────────────────────────────────────────────────────────────────────

  - ca-certificates    2023.5.7  hbcca054_0      conda-forge
  + ca-certificates  2023.08.22  h06a4308_0      pkgs/main/linux-64     125kB
  - openssl              1.1.1t  h0b41bf4_0      conda-forge
  + openssl              1.1.1w  h7f8727e_0      pkgs/main/linux-64       4MB

  Downgrade:
───────────────────────────────────────────────────────────────────────────────

  - pandas                1.3.5  py37h8c16a72_0  pkgs/main
  + pandas                1.3.3  py37h8c16a72_0  pkgs/main/linux-64      10MB

  Summary:

  Upgrade: 2 packages
  Downgrade: 1 packages

  Total download: 14MB

───────────────────────────────────────────────────────────────────────────────


[+] 0.0s
Downloading  (1) ━━━━━━━━━━━━━━━╸━━━━━━━   0.0 B pandas                     0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.1s
Downloading  (3) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B pandas                     0.1s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0sca-certificates                                    125.5kB @ 820.2kB/s  0.2s
openssl                                              3.9MB @  22.1MB/s  0.2s
[+] 0.2s
Downloading  (1) ━━━━━━━━━━━╸━━━━━━━━━━━   7.6MB pandas                     0.2s
Extracting   (2) ━━━━━━━━━╸━━━━━━━━━━━━━       0 ca-certificates            0.0spandas                                               9.7MB @  44.7MB/s  0.2s
[+] 0.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━╸━━━━━━━━━━━━       0 ca-certificates            0.1s[+] 0.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━━╸━━━━━━━━━━━       0 ca-certificates            0.2s[+] 0.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━━━╸━━━━━━━━━━       0 ca-certificates            0.3s[+] 0.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━━━━╸━━━━━━━━━       0 openssl                    0.4s[+] 0.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━━━━━╸━━━━━━━━       0 openssl                    0.5s[+] 0.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━━━━━━╸━━━━━━━       0 openssl                    0.6s[+] 0.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ╸━━━━━━━━━━━━━━━╸━━━━━━       0 openssl                    0.7s[+] 1.0s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━╸━━━━━━━━━━━━━━━╸━━━━       0 pandas                     0.8s[+] 1.1s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━╸━━━━━━━━━━━━━━━╸━━━       0 pandas                     0.9s[+] 1.2s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━╸━━━━━━━━━━━━━━━╸━━       0 pandas                     1.0s[+] 1.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━╸━━━━━━━━━━━━━━━╸━       0 pandas                     1.1s[+] 1.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━╸━━━━━━━━━━━━━━━━       0 ca-certificates            1.2s[+] 1.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━╸━━━━━━━━━━━━━━━       0 ca-certificates            1.3s[+] 1.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━╸━━━━━━━━━━━━━━       0 ca-certificates            1.4s[+] 1.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━╸━━━━━━━━━━━━━       0 ca-certificates            1.5s[+] 1.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━╸━━━━━━━━━━━━       0 openssl                    1.6s[+] 1.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━━╸━━━━━━━━━━━       0 openssl                    1.7s[+] 2.0s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (3) ━━━━━━━━━━━━━╸━━━━━━━━━       0 openssl                    1.8s[+] 2.1s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (2) ━━━━━━╸━━━━━━━━━━━━━━━━       1 ca-certificates            1.9s[+] 2.2s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (2) ━━━━━━╸━━━━━━━━━━━━━━━━       1 ca-certificates            2.0s[+] 2.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (1) ━━━━━━━━━━━━━━╸━━━━━━━━       2 pandas                     2.1s[+] 2.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (1) ━━━━━━━━━━━━━━╸━━━━━━━━       2 pandas                     2.2s[+] 2.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (1) ━━━━━━━━━━━━━━╸━━━━━━━━       2 pandas                     2.3s[+] 2.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting   (1) ━━━━━━━━━━━━━━╸━━━━━━━━       2 pandas                     2.4s[+] 2.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  13.7MB                            0.3s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       3                            2.5s
Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['requests==2.26.0']

pkgs/main/linux-64                                          Using cache
pkgs/main/noarch                                            Using cache
pkgs/r/linux-64                                             Using cache
pkgs/r/noarch                                               Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - requests==2.26.0
   - ca-certificates
   - certifi
   - openssl


  Package               Version  Build         Channel              Size
──────────────────────────────────────────────────────────────────────────
  Downgrade:
──────────────────────────────────────────────────────────────────────────

  - charset-normalizer    3.1.0  pyhd8ed1ab_0  conda-forge
  + charset-normalizer    2.0.4  pyhd3eb1b0_0  pkgs/main/noarch     35kB
  - requests             2.29.0  pyhd8ed1ab_0  conda-forge
  + requests             2.26.0  pyhd3eb1b0_0  pkgs/main/noarch     61kB

  Summary:

  Downgrade: 2 packages

  Total download: 96kB

──────────────────────────────────────────────────────────────────────────


[+] 0.0s
Downloading  (1) ━━━━━━━╸━━━━━━━━━━━━━━━   0.0 B charset-normalizer         0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.1s
Downloading  (2) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B charset-normalizer         0.1s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.2s
Downloading  (2) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B charset-normalizer         0.2s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0scharset-normalizer                                  35.4kB @ 139.0kB/s  0.3s
requests                                            60.7kB @ 238.1kB/s  0.3s
[+] 0.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ━━━━━━━━━━━━╸━━━━━━━━━━       0 charset-normalizer         0.0s[+] 0.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ━━━━━━━━━━━━━╸━━━━━━━━━       0 charset-normalizer         0.1s[+] 0.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ━━━━━━━━━━━━━━╸━━━━━━━━       0 charset-normalizer         0.2s[+] 0.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ━━━━━━━━━━━━━━━╸━━━━━━━       0 charset-normalizer         0.3s[+] 0.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ╸━━━━━━━━━━━━━━━╸━━━━━━       0 requests                   0.4s[+] 0.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ━╸━━━━━━━━━━━━━━━╸━━━━━       0 requests                   0.5s[+] 0.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ━━╸━━━━━━━━━━━━━━━╸━━━━       0 requests                   0.6s[+] 1.0s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (2) ━━━╸━━━━━━━━━━━━━━━╸━━━       0 requests                   0.7s[+] 1.1s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━  96.1kB                            0.3s
Extracting   (1) ━━━━━━━━━━╸━━━━━━━━━━━━       1 requests                   0.8s
Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

## Imports

Import any additional libraries you may need here.

In [21]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [22]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-09-15 11:00:13--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.3’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-09-15 11:00:13 (17.0 MB/s) - ‘bank_market_cap_1.json.3’ saved [2815/2815]

--2023-09-15 11:00:14--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.3’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-09-15 11:00:14 (7.22 MB/s) - ‘bank_market_cap_2.json.3’ saved [1429/1429]

--2023-09-15 11:00:15--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.3’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-09-15 11:00:15 (3.53 MB/s) - ‘exchange_rates.csv.3’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [23]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [ ]:
# extracted_data = pd.DataFrame(columns=['Name','Market_Cap (US$ Billion)'])

In [24]:
def extract():
    # Write your code here
    extracted_data = pd.DataFrame(columns=['Name','Market_Cap (US$ Billion)'])
    for jsonfile in glob.glob("bank_market_cap_1.json"):
        extracted_data = extracted_data.append(extract_from_json(jsonfile), ignore_index = True)
    return extracted_data

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [25]:
df = pd.read_csv(r'exchange_rates.csv')
df=pd.DataFrame(df)
#df
exchange_rate=df.loc[9, 'Rates']
print(exchange_rate) # British pounds with the symbol GBP
print(df)

0.7323984208000001
   Unnamed: 0         Rates
0         AUD      1.297088
1         BGN      1.608653
2         BRL      5.409196
3         CAD      1.271426
4         CHF      0.886083
5         CNY      6.483139
6         CZK     21.510117
7         DKK      6.119757
8         EUR      0.822504
9         GBP      0.732398
10        HKD      7.752509
11        HRK      6.222652
12        HUF    294.135549
13        IDR  14097.902616
14        ILS      3.281132
15        INR     73.011186
16        ISK    129.133081
17        JPY    103.791742
18        KRW   1105.839776
19        MXN     19.932966
20        MYR      4.043017
21        NOK      8.497121
22        NZD      1.393733
23        PHP     48.070406
24        PLN      3.732933
25        RON      4.008883
26        RUB     74.930827
27        SEK      8.292071
28        SGD      1.328261
29        THB     30.009870
30        TRY      7.418572
31        USD      1.000000
32        ZAR     15.118441

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [26]:
# Write your code here
extracted_data = extract()
extracted_data
# extracted_data.drop(['Market_Cap(US$ Billion)'], axis=1)

,Name,Market_Cap (US$ Billion),Market Cap (US$ Billion)
0,JPMorgan Chase,NaN,390.934
1,Industrial and Commercial Bank of China,NaN,345.214
2,Bank of America,NaN,325.331
3,Wells Fargo,NaN,308.013
4,China Construction Bank,NaN,257.399
...,...,...,...
65,Ping An Bank,NaN,37.993
66,Standard Chartered,NaN,37.319
67,United Overseas Bank,NaN,35.128
68,QNB Group,NaN,33.560
69,Bank Rakyat,NaN,33.081

In [27]:
extracted_data.drop(['Market_Cap (US$ Billion)'], axis=1)

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

In [28]:
def transform(data):
    # Write your code here
    data['Market Cap (US$ Billion)'] = round(0.75 * data['Market Cap (US$ Billion)'], 3)
    data.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

transformed_data = transform(extracted_data)
transformed_data

,Name,Market_Cap (US$ Billion),Market Cap (GBP$ Billion)
0,JPMorgan Chase,NaN,293.201
1,Industrial and Commercial Bank of China,NaN,258.910
2,Bank of America,NaN,243.998
3,Wells Fargo,NaN,231.010
4,China Construction Bank,NaN,193.049
...,...,...,...
65,Ping An Bank,NaN,28.495
66,Standard Chartered,NaN,27.989
67,United Overseas Bank,NaN,26.346
68,QNB Group,NaN,25.170
69,Bank Rakyat,NaN,24.811

In [29]:
transformed_data.drop(['Market_Cap (US$ Billion)'], axis=1)

                                       Name  Market Cap (GBP$ Billion)
0                            JPMorgan Chase                    293.201
1   Industrial and Commercial Bank of China                    258.910
2                           Bank of America                    243.998
3                               Wells Fargo                    231.010
4                   China Construction Bank                    193.049
..                                      ...                        ...
65                             Ping An Bank                     28.495
66                       Standard Chartered                     27.989
67                     United Overseas Bank                     26.346
68                                QNB Group                     25.170
69                              Bank Rakyat                     24.811

[70 rows x 2 columns]

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [30]:
def load(target_file, data_to_load):
    # Write your code here
    data_to_load.to_csv(target_file, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [31]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [32]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [33]:
# Call the function here
extracted_data = extract()
# Print the rows here
extracted_data.head()

,Name,Market_Cap (US$ Billion),Market Cap (US$ Billion)
0,JPMorgan Chase,NaN,390.934
1,Industrial and Commercial Bank of China,NaN,345.214
2,Bank of America,NaN,325.331
3,Wells Fargo,NaN,308.013
4,China Construction Bank,NaN,257.399

Log the data as <code>"Extract phase Ended"</code>

In [14]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [34]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [35]:
# Call the function here
transformed_data = transform(extracted_data)
# Print the first 5 rows here
transformed_data.head()

,Name,Market_Cap (US$ Billion),Market Cap (GBP$ Billion)
0,JPMorgan Chase,NaN,293.201
1,Industrial and Commercial Bank of China,NaN,258.910
2,Bank of America,NaN,243.998
3,Wells Fargo,NaN,231.010
4,China Construction Bank,NaN,193.049

Log your data <code>"Transform phase Ended"</code>

In [36]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [37]:
# Write your code here
log("Load phase Started")

Call the load function

In [38]:
# Write your code here
load('market_cap.csv', transformed_data)

Log the following `"Load phase Ended"`.

In [39]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).